*{
	margin: 0 auto;
	padding: 0px;
}
.title{
	width: 1014px;
	height: 100px;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	line-height: 100px;
}
.body{
	
	width: 1014px;
	height: 4000px;
	border-style: solid;
	border-color: black;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 0px;
	

}
.dibu{
width: 1014px;
	height: 70px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-color: black;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 0px;
}
.one{
	padding-left: 50px;
	padding-top: 30px;
	}
.em-one{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}
.em-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}
.em-one-one{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
	float: right;
}
.em-two-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
	clear: both;
}
.x-one{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}
.x-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}
.x-three{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}
.x-two-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
	position: relative;
	top: 50px;
	left: 50px;
}
.x-two-two-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
	position: absolute;
	top: 50px;
	left: 50px;
}
.fuqin{
	position: relative;
}
.xx-two-two-two{
	width: 100px;
	height: 100px;
	background-color: black;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
	position: fixed;
	top: 50px;
	left: 50px;
}
